<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <div class="well well-sm">
  
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      </div>
    </aside>
    <div class="span8">
      <div class="well well-lg">
        <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    </div>
  </div>
<% else %>
	 <div class="center hero-unit">
      <h1>Welcome to Binger</h1>

      <h2>
        This is the home page for Binger App
        
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary", rel: "tooltips", title: "新用户注册" %>
	 </div>
<% end %>

