<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <div class="well well-sm">
  
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section id="microposts_counts">
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      </div>
      <div class="well well-sm" >
        <%=link_to 'About', about_path %>
        <%=link_to 'Contact Us', contact_path %>
        <strong class="pull-right badge">@2014 Binger.Inc </strong>
      </div>
    </aside>

    <div class="span8">
      <div class="well well-sm">
        <h3>Micropost Feed</h3>
      <div id="micropost_feed" >
      <%= render 'shared/feed' %>
    </div>
    </div>
    </div>
  </div>
<% else %>
  <div class="row-fluid" >
	 <div class="span12 hero-unit">
    <img src="/assets/freshome.jpg" alt="Binger me" class="pull-right">
      <h1>Welcome to Binger</h1>

      <h2>
        This is the home page for Binger App
        
      </h2>

      <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-warning", rel: "tooltips", title: "新用户注册" %>
	 </div>
<% end %>

