<% provide(:title, 'All users') %>
<div class="well well-sm">
<h1>Users list </h1>

<%= form_tag users_path, :method => 'get', :class => 'form-search pull-right' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "username" %>
    <%= button_tag(type: "submit", class: "btn btn-default", title: "Search") do %>
    <i class="icon-search"></i>
<% end %>
  </p>
<% end %><br />
<span class="badge centered">Total&nbsp<%= @users.count %>&nbsp users</span>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
</div>