<li id="<%= dom_id(micropost) %>" >
  <div class="well well-sm" >
    <%= link_to gravatar_for(micropost.user ,size: 50)  %>
    <span class="content"><%= wrap(micropost.content) %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>

  <%= link_to( url_for( controller: 'microposts', action: 'show_comment', id: micropost.id ) , method: :get, remote: true, class: 'btn btn-mini btn-success',title: "查看评论" ) do %>
         <i class="fa fa-comment"></i>(<span id="<%= dom_id(micropost)+'2' %>" ><%= micropost.comments.count %></span>)
  <% end %> 
  
  <% if current_user?(micropost.user) %>
    <%= link_to( micropost, method: :delete, remote: true, 
                         data: { confirm: "Are you sure?" },
                         ref: "tooltip", title: "删除该条微博",
                         :class => "pull-right") do %>
                         <i class="fa fa-trash-o"></i>
    <% end %>
                          
  <% end %>
<section id="<%= dom_id(micropost)+'1' %>" style="display: none;" >
</section>
</div>
</li>